<p id="notice">Book was successfully created.</p>
<p><strong>title:</strong></p>
<span><%= @book.title %></span>
<p><strong>body:</strong></p>
<span><%= @book.body %></span>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%=link_to "Back", back_book_path(@book.id) %>
